*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
  background-image: url('./imgs/bgimg4.jpg');
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}
label{
  display: block;
  margin-top: 35px;
  font-size: 20px;
  font-weight: 500;
  color: #eaf0fb;
}
.loginbox{
  height: 520px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
  color: #eaf0fb;
}
form h3{
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  font-family: Arial, Helvetica;
}
.loginbox .email{
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(95, 54, 54, 0);
  border-radius:14px;
  box-shadow: 0px 5px rgba(0,0,0,0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}
.loginbox .pass{
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(95,54,54,0);
  border-radius:14px;
  box-shadow: 0px 5px rgba(0,0,0,0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}
.loginbox .btn{
  margin-top: 40px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}

.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: #DB4437;
  color: #eaf0fb;
  text-align: center;
  cursor:pointer;
  margin-left: 27%;
}
.social .google{
  background-color:#DB4437;
  border: none;
  margin-top: 7px;
  text-align: center;
  font-weight: bold;
  font-size: medium;
}

